.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  &>section{
    max-width: 1220px;
  }
  .section_1, .section_2, .section_3, .section_4, .section_5{
    width: 100%;
    margin-top: 180px;
  }
  .section_1{
    &>h1{
      font-size: 75px;
    }
    &>p{
      margin-top: 32px;
      font-size: 24px;
    }
    &>div>button{
      margin-top: 80px;
      padding: 12px 45px;
      background-color: #FF5900 ;
      color: white;
      border: none;
      border-radius: 10px;
    }
  }
  .section_2{
    display: flex;
    justify-content: space-between;
    &>div:last-of-type{
      &>div>p{
        font-size: 22px;
        margin-top: 32px;
      }
    }
    .wrapper_button{
      width: 100%;
      background-color: white;
      padding: 4px;
      &>button{
        
        border-radius: 10px;
        width: 276px;
        padding: 10px 64px;
      }
    }
  }
  .section_3{
    &>h2{
      text-align: center;
    }
    .wrapper_section_3_content{
      margin-top: 80px;
      display: flex;
      justify-content: space-between;
    }
  }
  .section_4{
    display: flex;
    &>h2{
      width: 100%;
    }
    &>img{
      width: 20%;
    }
    &>img+img{
      margin-left: 80px;
    }
  }
}