.wrapper_header{
    margin: 32px 32px 0 32px;
    display: flex;
    justify-content: center;
}
.wrapper_nav{
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    width: 1220px;
    &>._content{
        display: flex;
        justify-content: space-around;
        width: 336px;
        &>a{
            font-size: 14px;
        }
    }
}

@media (min-width: 320px) and (max-width: 767.98px) {
    .wrapper_header{
        margin: 32px 20px 0 20px;
    }
}